.footer {
  margin-top: auto;
}

.redes {
  background-color: rgb(44, 44, 44);
  padding-bottom: 15px;
  padding-top: 15px;
  /* display: flex;
  justify-content: space-between; */
}

.redes-items {
  display: flex;
  justify-content: space-around;
}

.redes-iconos {
  color: white;
}

.redes-text {
  color: white;
  margin-left: 10px;
}

.copyright {
  color: white;
  font-weight: 600;
  font-size: 0.7rem;
  padding: 10px;
}

.cr-text {
  margin-bottom: 0;
}

@media (max-width: 600px) {
  .redes-text {
    display: none;
  }
}
