* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

main {
  background-color: grey;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

h1 {
  padding: 10px;
}

h2 {
  padding: 10px;
}

.textos {
  margin: 20px;
}
